
@{
    ViewBag.Title = aztuKonfrans2.Resources.Resource.venue;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="venue">
    <!-- venue_section -->
    <div class="venue_section">
        <div class="container">


            @*<div class="row">
                <div class="venue_title elements_title t_center">
                    <span>@aztuKonfrans2.Resources.Resource.venue</span>
                </div>
            </div>*@

            <div class="row">
                <div class="venue_title_s t_center">
                    <a href="http://aztu.edu.az" class="elements_title_s">@aztuKonfrans2.Resources.Resource.azTU</a>
                </div>
            </div>

            <div class="row">
                <div class="venue_image t_center">
                    <img src="/Content/images/2018-12-2414-38-06_5c20b69833588.png" class="img-fluid" alt="Azerbaijan Tehcnical University">
                </div>
            </div>

             <div class="row">
                <div class="venue_text">
                    <span>
                        @aztuKonfrans2.Resources.Resource.venue_text_1
                    </span>
                </div>
                 <div class="venue_text">
                     <ul>
                         <li>
                             <span>1. @aztuKonfrans2.Resources.Resource.venue_text_2</span>
                         </li>
                         <li>
                             <span>2. @aztuKonfrans2.Resources.Resource.venue_text_3</span>
                         </li>
                         <li>
                             <span>3. @aztuKonfrans2.Resources.Resource.venue_text_4</span>
                         </li>
                         <li>
                             <span>4. @aztuKonfrans2.Resources.Resource.venue_text_5</span>
                         </li>
                         <li>
                             <span>5. @aztuKonfrans2.Resources.Resource.venue_text_6</span>
                         </li>
                         <li>
                             <span>6. @aztuKonfrans2.Resources.Resource.venue_text_7</span>
                         </li>
                         <li>
                             <span>7. @aztuKonfrans2.Resources.Resource.venue_text_8</span>
                         </li>
                         <li>
                             <span>8. @aztuKonfrans2.Resources.Resource.venue_text_9</span>
                         </li>
                     </ul>
                 </div>
                 <div class="venue_text">
                     <span>@aztuKonfrans2.Resources.Resource.venue_text_10</span>
                 </div>
                 <div class="venue_text">
                     <span>@aztuKonfrans2.Resources.Resource.venue_text_11</span>
                 </div>
            </div> 
        </div>
    </div>
</div>


