
@{
    ViewBag.Title = aztuKonfrans2.Resources.Resource.guidelines;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="guideline_page">
    <div class="guideline_section">
        <div class="container">
            <div class="guideline_inner">
                <div class="row">
                    <div class="elements_title_s col-12">
                        <span>@aztuKonfrans2.Resources.Resource.submission_requirements</span>
                    </div>
                </div>
                <div class="row g_row">
                    <div class="requirements_list col-12">
                        <span>1. @aztuKonfrans2.Resources.Resource.s_req1</span>
                    </div>
                    <div class="requirements_list col-12">
                        <span>2. @aztuKonfrans2.Resources.Resource.s_req2</span>
                    </div>
                    <div class="requirements_list col-12">
                        <span>3. @aztuKonfrans2.Resources.Resource.s_req3 </span>
                    </div>
                    <div class="requirements_list col-12">
                        <span>4. @aztuKonfrans2.Resources.Resource.s_req4</span>
                    </div>
                    <div class="requirements_list col-12">
                        <span>5. @aztuKonfrans2.Resources.Resource.s_req5</span>
                    </div>
                    <div class="requirements_list col-12">
                        <span>6. @aztuKonfrans2.Resources.Resource.s_req6</span>
                    </div>
                    <div class="requirements_list col-12">
                        <span>7. @aztuKonfrans2.Resources.Resource.s_req7</span>
                    </div>
                    <div class="requirements_list col-12">
                        <span>
                            8. @aztuKonfrans2.Resources.Resource.s_req8<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/Paper/Submission">www.az-tr-conference2019.com</a>
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:subhan.namazov@aztu.edu.az">subhan.namazov@aztu.edu.az</a>
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:subhan_namazov@daadalumni.de">subhan_namazov@daadalumni.de</a>
                        </span>
                    </div>
                    <div class="requirements_list col-12">
                        <span>9. @aztuKonfrans2.Resources.Resource.s_req9</span>
                    </div>
                    <div class="requirements_list col-12">
                        <span>10. @aztuKonfrans2.Resources.Resource.s_req10</span>
                    </div>
                    <div class="requirements_list col-12">
                        <span>11. @aztuKonfrans2.Resources.Resource.s_req11</span>
                    </div>
                    <div class="requirements_list col-12">
                        <span>12. @aztuKonfrans2.Resources.Resource.s_req12</span>
                    </div>
                    <div class="requirements_list col-12">
                        <span>13. @aztuKonfrans2.Resources.Resource.s_req13</span>
                    </div>
                    <div class="requirements_list col-12">
                        <span>14. @aztuKonfrans2.Resources.Resource.s_req14</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

