﻿
@{
    ViewBag.Title = aztuKonfrans2.Resources.Resource.committees;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- committee -->
<div class="committee">
    <div class="committee_inner">
        <div class="container">
            <div class="conference_committees">
                <div class="committee_section">
                    <div class="row">
                        <div class="committee_page_text elements_title_s  col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.honorary_chairs</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.honorary_chairs_1</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.honorary_chairs_2</span>
                        </div>
                    </div>
                </div>

                <div class="committee_section">
                    <div class="row">
                        <div class="committee_page_text elements_title_s  col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.chairs</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.chairs_1</span>
                        </div>

                    </div>
                </div>


                <div class="committee_section">
                    <div class="row">
                        <div class="committee_page_text elements_title_s  col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.vise_chairs</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.vise_chairs_1</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.vise_chairs_2</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.vise_chairs_3</span>
                        </div>
                    </div>
                </div>


                <div class="committee_section">
                    <div class="row">
                        <div class="committee_page_text elements_title_s  col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.sci_sec</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.vise_chairs_2</span>
                        </div>
                    </div>
                </div>

                <div class="committee_section">
                    <div class="row">
                        <div class="committee_page_text elements_title_s  col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.ex_secretary</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.ex_secretary_2</span>
                        </div>
                    </div>
                </div>

                <div class="committee_section">
                    <div class="row">
                        <div class="committee_page_text elements_title_s  col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_com</span>
                        </div>
                        <div class="committee_page_text com_el_title col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_side</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_1</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_2</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_3</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_4</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_5</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_6</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_7</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_8</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_9</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_10</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_11</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_12</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_13</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_14</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_15</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_16</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_17</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_18</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_19</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_20</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_21</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_22</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_23</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_24</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_25</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_26</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_27</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_28</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_29</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_30</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_31</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_32</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_33</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_34</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_35</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_36</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_37</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_38</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_39</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_40</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_41</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_az_42</span>
                        </div>
                    </div>
                </div>

                <div class="committee_section">
                    <div class="row">
                        <div class="committee_page_text elements_title_s  col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_com</span>
                        </div>
                        <div class="committee_page_text com_el_title col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_side</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_1</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_2</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_3</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_4</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_5</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_6</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_7</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_8</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_9</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_10</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_11</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_12</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_13</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_14</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_15</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_16</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_17</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_18</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_19</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_20</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_21</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_22</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_23</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_24</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_25</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_26</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_27</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_28</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_29</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_30</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_31</span>
                        </div>
                        <div class="committee_member text_f col-md-12">
                            <span>@aztuKonfrans2.Resources.Resource.org_tr_33</span>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section scripts{

    <script>
        $('.com_nav').addClass('active');
    </script>
}